.mytask {
  color: rgb(0, 0, 0);
  font-family: "Poppins", sans-serif;
}
.addbt {
  background-color: black;
  color: white;
  font-size: 16px;
  border-radius: 10px;
  padding: 5px;
  margin-left: 20px;
  text-decoration: none;
  border: none;
}
.delebt {
  background-color: rgb(0, 0, 0);
  color: white;
  font-size: 16px;
  border-radius: 10px;
  padding: 5px;
  margin-left: 20px;
  text-decoration: none;
  border: none;
}

.form-action input {
  background-color: aliceblue;
  border-radius: 10px;
  font-size: 14px;
  font-family: "Poppins", sans-serif;
  padding: 5px 30px;
  margin-top: 10px;
  border: none;
}
.list-group{
   justify-content: center;
    width: 40%;
    margin-left: 30%;
    margin-top: 20px;
}
