

.profile h5 {
  margin-bottom: 4px;
}

.profile p {
  font-size: 14px;
  color: #adadad;
}

.sidelist {
  list-style: none;
  padding: 0;
  margin-top: 20px;
}

.sidelist li {
  padding: 10px;
  cursor: pointer;
  border-radius: 8px;
}

.sidelist li:hover {
  background-color: #f0f0f0;
}

.profile img {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  object-fit: cover;
  margin-bottom: 20px;
}